
*.class

*.jar

*.war

.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml

.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml

.idea/libraries/Maven__log4j_log4j_1_2_17.xml

.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_5.xml

.idea/libraries/Maven__org_springframework_spring_beans_4_0_2_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_context_4_0_2_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_core_4_0_2_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_aop_4_0_2_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_test_4_0_2_RELEASE.xml

.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_5.xml

.idea/libraries/Maven__org_springframework_spring_web_4_0_2_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_expression_4_0_2_RELEASE.xml

.idea/libraries/Maven__org_ow2_asm_asm_4_0.xml

.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_0_1.xml

.idea/libraries/Maven__cglib_cglib_3_0.xml

.idea/libraries/Maven__junit_junit_4_8_2.xml

.idea/libraries/Maven__org_springframework_spring_webmvc_4_0_2_RELEASE.xml

.idea/libraries/Maven__org_codehaus_jackson_jackson_core_asl_1_9_10.xml

.idea/libraries/Maven__org_codehaus_jackson_jackson_mapper_asl_1_9_10.xml

.idea/libraries/Maven__org_mongodb_mongo_java_driver_2_11_4.xml

.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_6.xml

.idea/libraries/Maven__org_springframework_data_spring_data_mongodb_1_4_0_RELEASE.xml

.idea/libraries/Maven__org_springframework_spring_tx_3_2_8_RELEASE.xml

.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_7_0_RELEASE.xml

target/maven-archiver/pom.properties

target/maven-archiver/pom.properties

target/maven-archiver/pom.properties

target/surefire-reports/TEST-be.protracker.web.controllers.CoordinatesControllerTest.xml

target/surefire-reports/be.protracker.web.controllers.CoordinatesControllerTest.txt

target/surefire-reports/be.protracker.web.controllers.CoordinatesControllerTest.txt
